section > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    padding: 0 7px;
    margin: 5px;
    list-style: none;
}

section > ul li a {
    display: block;
    text-decoration: none;
}

section > ul li article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 179px;
    height: 163px;
    padding: 8px;
    box-sizing: border-box;

    border: 1px solid #74423680;
    border-radius: var(--radius-card);
    box-shadow: 0 4px 4px rgba(116, 66, 54, 0.25);
    background-color: var(--color-bg);
}

section > ul li article header {
    position: relative;
}

section > ul li article header > img {
    width: 147px;
    height: 103px;
    object-fit: contain;
    display: block;

    border: 1px solid var(--color-placeholder);
    border-radius: var(--radius-card);
    background-color: #fff;
}

article aside {
    position: absolute;
    bottom: 35%;
    right: 13px;
}

/*like*/
article button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

article button img {
    width: 19.17px;
    height: 16px;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

section > ul li article footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

ul li article footer * {
    margin: 0;
    font-size: var(--font-base);
    color: var(--color-text);
}
