@import "../pages/home.css";

main>footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main>footer a {
    max-width: 130px;
    height: 35px;
    margin: 6px 10px;
    font-size: var(--font-base);
}