@import "../pages/info.css";

h2 {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 14px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav div a,
nav div button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-text);
    border: none;
}

main > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--header-footer-size);
    font-size: 1.25rem;
}

section img {
    align-self: center;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 300px;
    height: 152px;
    object-fit: contain;
    border: 1px solid var(--color-placeholder);
    border-radius: var(--radius-card);
    background-color: #fff;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 40px;
    gap: 0;
}

dl dt,
dl dd {
    margin-bottom: 25px;
}

dl dd:last-of-type {
    grid-row: 5;
    grid-column: 1 / span 2;
    text-align: left;
    font-size: 1rem;
}

dl dt:last-of-type,
dl dd:last-of-type {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid var(--color-text-disabled);
}