@import "../base.css";
@import "../components/header.css";
@import "../components/button.css";

h2 {
    display: none;
}

fieldset legend {
    font-size: 1.25rem;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main>header {
    padding: 20px;
}

main>header a img {
    width: 24px;
    height: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 14px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

div label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div label img {
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 300px;
    height: 152px;
    object-fit: contain;
    border: 1px solid var(--color-placeholder);
    border-radius: var(--radius-card);
    background-color: #fff;
}

section,
form {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
}

form fieldset:first-of-type {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 30px;
    align-items: center;
}

form fieldset:first-of-type label {
    grid-column: 1;
}

form fieldset:first-of-type input {
    display: inline-block;
    height: 40px;
    margin-bottom: 15px;
    text-indent: 20px;
    font-family: var(--font-base);
    padding: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-entries);
    box-shadow: 0px 4px 4px rgba(116, 66, 54, 0.25);

}

form fieldset:first-of-type input::placeholder {
    color: var(--color-placeholder);
    opacity: 1;
}

form fieldset:last-of-type ul {
    grid-column: 1 / span 2;
    color: var(--color-placeholder);
    margin: 0;
}

form fieldset:last-of-type li {
    border-bottom: 1px solid var(--color-text-disabled);
}

form fieldset:last-of-type button {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: end;
    margin: 10px;
    background: none;
    border: none;
}

form button {
    justify-self: flex-end;
    align-self: center;
}

input[type="file"] {
    display: none;
}