@import "../base.css";
@import "../components/header.css";
@import "../components/navbar.css";
@import "../components/searchbar.css";
@import "../components/card.css";
@import "../components/button.css";

section header{
    width: 100%;
    position: relative;
    margin: 30px 0;
}

section header a {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

section header h2 {
    margin: 0;
    font-size: 1.875rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    border-top: 1px solid #744236;
}

input[type="checkbox"] {
    display: none;
}

form>label {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 6px;
    cursor: pointer;
    font-size: var(--font-size-h2);
    padding: 20px 0;
}

form>label span {
    order: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 15px;
    height: 15px;

    border-radius: 4px;
    border: 2px solid #744236;
    cursor: pointer;
}

form>label img {
    opacity: 0;
    vertical-align: middle;
    height: auto;
}

form>input[type="checkbox"]:checked+label img {
    opacity: 1;
}

h3 {
    font-size: var(--font-size-h2);
}

form section {
    display: grid;
    grid-template-rows: auto auto auto;
}

input[type="range"] {
    order: 3;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    max-width: 200px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 3px;
    background: #744236;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
    background: #744236;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
}

form > button {
    margin: 20px 0;
    align-self: center;
}
