@import "../base.css";
@import "../components/header.css";
@import "../components/navbar.css";
@import "../components/searchbar.css";
@import "../components/card.css";
@import "../components/entry.css";
@import "../components/h2.css";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main header {
    max-width: 739px;
}

main > section {
    flex: 1;
}

main section:last-of-type{
    display: none;
}

main > footer {
    margin-top: auto;
    margin-bottom: calc(var(--header-footer-size) + 20px);
}

section {
    text-align: center;
}

h2 {
    display: inline-block;
    border-top: 1px solid var(--color-text);
}

/*gradient btn*/
footer a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 308px;
    height: 45px;
    margin: 20px 0;
    padding: 0 20px;
    border: none;
    border-radius: var(--radius-btn);
    font-family: var(--font-base);
    font-size: var(--font-size-btn);
    text-decoration: none;
    line-height: var(--line-height-base);
    color: var(--color-surface);
    cursor: pointer;
    overflow: hidden;
}

footer a::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    transition: opacity 0.5s ease;
    opacity: 1;
    border-radius: var(--radius-btn);
}

footer a:hover::before {
    background: linear-gradient(to right, var(--color-primary),var(--color-secondary));
    opacity: 1;
}