@import "../base.css";
@import "../components/header.css";
@import "../components/h2.css";

main header {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

main header a {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

main header h2 {
    margin: 0;
    text-align: center;
}

dl {
    grid-column: 2;
    grid-row: 2;
    row-gap: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 40px;
}

dl dt {
    grid-column: 1;
    text-align: left;
    font-weight: var(--font-base);
}

dl dd {
    grid-column: 2;
    text-align: right;
    font-weight: var(--font-base);
    color: var(--color-placeholder);
}

dd button {
    background: none;
    border: none;
}