@import "../base.css";
@import "../components/header.css";
@import "../components/h2.css";

article header,
section h4 {
    display: none;
}

main>header {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

main>section header a {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

main>section header h2 {
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--color-text-disabled)
}

nav a {
    width: 100%;
    text-decoration: none;
    color: var(--color-text);
    line-height: 3rem;
    text-align: center;
}

nav a[aria-current="page"] {
    border-bottom: 3px solid var(--color-text)
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 10px 0;
}

details {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

details div {
    display: flex;
    justify-content: center;
    width: 100%;
}

summary {
    display: grid;
    grid-template-rows: 1.5em auto auto;
    align-items: center;
    justify-content: space-between;
    row-gap: 5px;
    border-bottom: 1px solid var(--color-text-disabled);
}

summary time {
    color: var(--color-placeholder);
}

summary img {
    grid-row: 1/3;
    align-self: center;
}

summary data:last-of-type {
    grid-column: 3;
    grid-row: 1/3;
    align-self: center;
}

details section ul li article {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-evenly;
}

details a {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: var(--radius-btn);
    font-family: var(--font-base);
    font-size: var(--font-size-btn);
    text-decoration: none;
    line-height: var(--line-height-base);
    background-color: var(--color-primary);
    color: var(--color-bg);
    cursor: pointer;
}