@import "../base.css";
@import "../components/header.css";
@import "../components/h2.css";
@import "../components/entry.css";
@import "../components/button.css";

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>header {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

main>header a {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

main>header h2 {
    margin: 0;
    text-align: center;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main form fieldset {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}


label[for="card-number"],
input[name="card-number"],
label[for="card-holder"],
input[name="card-holder"],
button {
    grid-column: 1 / span 2;
}

label[for="expiry-date"] {
    grid-column: 1;
    grid-row: 5;
}
input[name="expiry-date"] {
    grid-column: 1;
    grid-row: 6;
}

label[for="code"] {
    grid-column: 2;
    grid-row: 5;
}
input[name="security-code"] {
    grid-column: 2;
    grid-row: 6;
}

input {
    margin-bottom: 20px;
}

button {
    justify-self: center;
}