@import "../base.css";
@import "../components/header.css";
@import "../components/navbar.css";
@import "../components/h2.css";

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

main a {
    display: flex;
    align-items: center;
    width: 60%;
    height: 45px;
    text-decoration: none;
    color: var(--color-text);

    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-entries);
    box-shadow: 0px 4px 4px rgba(116, 66, 54, 0.25);
}

a span {
    text-indent: 20px;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-text);
}

div img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
}



